
.activity{
    background-color: #ddd;
    height:200px;
    
}
.activity__top{
    padding:0.5rem 0.8rem;
    color:#fff;
    font-weight: bold;
}
.activity__bottom{
    background-color: #eee;
    border:1px solid rgba(0,0,0,0.35);
    margin: 5px;
}