.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* cursor:pointer; */
    color:#86a1b8;
    transition: all 0.3s ease-in;
}
.link.active{
    color:#8ec6f3;
}
.link p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;

}
.link.active p{
    font-weight: bold;
}